<!DOCTYPE html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mosquito detection results</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style2.css" />
    </head>
<body class="container text-center"><div">
        <h2>Potential mosquito breeding sites</h2>
        <p>Your video has been marked with the detected potential breeding sites.</p>
        <p>Please take the necessary action!</p>
        </div>
        <br>
        <div>
            <video controls width="960" height="720">
    <source src=<%=src%> type="video/avi" allow="autoplay" allowfullscreen>
            </source>
    </video>
    </div>
</body>
</html>