<!DOCTYPE html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mosquito detection results</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style1.css">
    </head>
<body><div>
        <h2>Potential mosquito breeding grounds</h2>
        </div>
        <br>
        <div>
    <video controls width="640" height="480">
        <source src=<%=src%>>
    </source>
    </video>
    </div>
</body>
</html>