<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag & Drop or Browse: File Upload </title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="drag-area">
    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
    <header>Drag & Drop to Upload File</header>
    <span>OR</span>
  <!--  <button>-->
     <!-- <form name="" method="post" action="/upload" enctype="multipart/form-data">
          <input type="file" name="file"></form>
          
     -->
    <input type="file" hidden>
  </div>
  <br>
  <div>
  <input type="submit" value="Detect" class="btn btn-secondary">
  </div>
      </form>
  
  <script src="js/script2.js"></script>

</body>
</html>